<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias type="com.Ordersproject.dto.Product" alias="pr" /> -->

	</typeAliases>

	<mappers>
		
		<mapper resource="mapper/pcrChatMapper.xml" />
		<mapper resource="mapper/pcrProductMapper.xml" />
		<mapper resource="mapper/pcrOrderMapper.xml" />
		<mapper resource="mapper/pcrAdMapper.xml" />
		<mapper resource="mapper/pcrMemberMapper.xml" />
		<mapper resource="mapper/pcrSocietyMapper.xml" />
		
	</mappers>
</configuration>
  