<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcConSystem.dao.pcrAdDao">

	<select id="getAdinfo">

		SELECT *
		FROM PCRAD
		WHERE ADID=#{adId} AND PCRCODE=#{pcrCode}
		<if test="adPw !=null">
			AND ADPW =#{adPw}
		</if>

	</select>

	<insert id="insertAdinfo">
		INSERT INTO PCRAD
		(PCRCODE,ADID,ADPW,ADNAME,ADHP,ADEMAIL,ADRIGHT)

		VALUES
		(#{pcrCode},#{adId},#{adPw},#{adName},#{adHp},#{adEmail},#{adRight})
	</insert>
	<select id="getseatlist" resultType="com.pcConSystem.dto.dto">
		SELECT
		NVL(PCRSEATS.SEATUSEPROGRAM,0) AS SEATUSEPROGRAM,
		PCRSEATS.PCRCODE,
		PCRSEATS.SEATNUM AS SEATNUM,
		PCRSEATS.SEATSTATE AS SEATSTATE,
		NVL(PCRMEMBERS.MEMID ,'0') AS MEMID,
		To_number(NVL(PCRMEMBERS.STIME
		,'0')) AS STIME
		FROM PCRSEATS
		LEFT JOIN PCRMEMBERS ON PCRSEATS.MEMID =
		PCRMEMBERS.MEMID AND
		PCRSEATS.PCRCODE=PCRMEMBERS.PCRCODE
		WHERE
		PCRSEATS.PCRCODE=#{pcrCode}
		ORDER BY TO_NUMBER(SEATNUM) ASC
	</select>
	<select id="getorderlist" resultType="hashmap">
		SELECT
		PCRORDERS.PCRCODE,
		PCRORDERS.ODCODE,
		PCRORDERS.SEATNUM,
		PCRORDERS.ODCOUNT,
		PCRORDERS.REQUEST,
		PCRORDERS.ODDATE,
		PCRPRODUCT.PRNAME,
		PCRPRODUCT.PRPRICE,
		PCRPRODUCT.PRCODE
		FROM
		PCRORDERS
		INNER JOIN
		PCRPRODUCT
		ON PCRORDERS.PRCODE = PCRPRODUCT.PRCODE
		WHERE
		PCRORDERS.PCRCODE =
		#{pcrCode} AND PCRORDERS.ODDATE >= TRUNC(SYSDATE)
		GROUP BY
		PCRORDERS.PCRCODE,
		PCRORDERS.ODCODE,
		PCRORDERS.SEATNUM,
		PCRORDERS.ODCOUNT,
		PCRORDERS.REQUEST,
		PCRORDERS.ODDATE,
		PCRPRODUCT.PRNAME,
		PCRPRODUCT.PRPRICE,
		PCRPRODUCT.PRCODE
		ORDER BY
		PCRORDERS.ODDATE DESC
	</select>

	<update id="updateAdminInfo">
		UPDATE PCRAD
		SET
		ADPW=#{adPw},ADNAME=#{adName},ADEMAIL=#{adEmail},ADHP=#{adHp}
		WHERE
		PCRCODE=#{pcrCode} AND ADID=#{adId}
	</update>

	<select id="getadminList">
		SELECT *
		FROM PCRAD
		WHERE PCRCODE=#{pcrCode}
	</select>

	<update id="updateAdinfo">
		UPDATE PCRAD
		SET ADPW =#{adPw}, ADNAME=#{adName},
		ADEMAIL=#{adEmail}, ADHP=#{adHp},ADRIGHT=#{adRight}
		WHERE
		PCRCODE=#{pcrCode} AND ADID=#{adId}
	</update>

	<select id="getSalesStatistics">
		SELECT PCRPRODUCT.PRNAME AS PRNAME
		,SUM(PCRPRODUCT.PRPRICE) AS
		TOTALPRICE,SUM (PCRORDERS.ODCOUNT) AS
		TOTALCOUNT
		FROM PCRPRODUCT
		INNER
		JOIN PCRORDERS
		ON PCRPRODUCT.PRCODE
		=PCRORDERS.PRCODE
		WHERE
		PCRPRODUCT.PCRCODE =#{pcrCode} AND
		PCRORDERS.ODDATE >= TRUNC(SYSDATE)-#{days}
		GROUP BY PRNAME
	</select>

	<select id="getSalesStatistics_date">
		SELECT PCRPRODUCT.PRNAME AS PRNAME
		,SUM(PCRPRODUCT.PRPRICE) AS
		TOTALPRICE,SUM (PCRORDERS.ODCOUNT) AS
		TOTALCOUNT
		FROM PCRPRODUCT
		INNER JOIN PCRORDERS
		ON PCRPRODUCT.PRCODE
		=PCRORDERS.PRCODE
		WHERE PCRPRODUCT.PCRCODE =#{pcrCode} AND
		TO_CHAR(PCRORDERS.ODDATE,'YYYY-MM-DD')= #{date}
		GROUP BY PRNAME

	</select>

	<select id="getSalesStatistics_month">

		SELECT PCRPRODUCT.PRNAME AS PRNAME
		,SUM(PCRPRODUCT.PRPRICE) AS
		TOTALPRICE,SUM
		(PCRORDERS.ODCOUNT) AS
		TOTALCOUNT
		FROM PCRPRODUCT
		INNER JOIN PCRORDERS
		ON
		PCRPRODUCT.PRCODE
		=PCRORDERS.PRCODE
		WHERE PCRPRODUCT.PCRCODE =#{pcrCode}
		AND
		TO_CHAR(PCRORDERS.ODDATE,'YYYY-MM')= #{month}
		GROUP BY PRNAME
	</select>


	<select id="getLoginIdlist">
		SELECT MEMID,SEATNUM
		FROM PCRSEATS
		WHERE
		PCRCODE=#{pcrCode} AND MEMID IS NOT NULL
	</select>

	<select id="getChartList_category">

		SELECT PCRPRODUCT.PRNAME AS PRNAME
		,SUM(PCRPRODUCT.PRPRICE) AS
		TOTALPRICE,SUM (PCRORDERS.ODCOUNT) AS
		TOTALCOUNT
		FROM PCRPRODUCT
		INNER JOIN PCRORDERS
		ON
		PCRPRODUCT.PRCODE=PCRORDERS.PRCODE
		WHERE PCRPRODUCT.PCRCODE =#{pcrCode}
		AND PRCATEGORY=#{prCategory} AND TO_CHAR(PCRORDERS.ODDATE,'YYYY-MM')=
		#{month}
		GROUP BY PRNAME


	</select>



	<select id="getChartList_age">
	  SELECT PRNAME, SUM(ODCOUNT) AS TOTALCOUNT,SUM(PRPRICE) AS TOTALPRICE
		FROM (SELECT T1.ODCOUNT AS ODCOUNT, T1.PRNAME AS PRNAME, T1.PRPRICE AS PRPRICE
			  FROM (SELECT ODCOUNT,PRNAME,PRPRICE,PRCATEGORY,MEMID
			       	FROM PCRORDERS
					INNER JOIN PCRPRODUCT
					ON PCRPRODUCT.PRCODE=PCRORDERS.PRCODE
					WHERE PCRORDERS.PCRCODE=#{pcrCode}) T1
			  JOIN PCRMEMBERS T2 ON T1.MEMID = T2.MEMID
			  WHERE ${age} <![CDATA[<=]]> T2.MEMAGE AND T2.MEMAGE <![CDATA[<]]> (${age}+10) )
		GROUP BY PRNAME
	</select>
</mapper>