<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcConSystem.dao.pcrMemberDao">
	<select id="getmemberInfo">
		SELECT *
		FROM PCRMEMBERS
		WHERE MEMID=#{memId} AND PCRCODE=#{pcrCode}
		<if test="memPw !=null">
			AND MEMPW=#{memPw}
		</if>

	</select>
	<insert id="insertmember">
		INSERT INTO PCRMEMBERS
		(PCRCODE,MEMID,MEMPW,MEMNAME,MEMEMAIL,MEMAGE,MEMHP,STIME,MEMO)
		VALUES
		(#{pcrCode},#{memId},#{memPw},#{memName},#{memEmail},#{memAge},#{memHp},#{sTime},#{memo})

	</insert>
	<update id="chargeTime">
		UPDATE PCRMEMBERS
		SET STIME=STIME+#{time}
		WHERE
		PCRCODE=#{pcrCode} AND MEMID=#{memId}
	</update>
	<update id="updateSeat_state_login">
		UPDATE PCRSEATS
		SET SEATSTATE
		='I',SEATUSEPROGRAM='바탕화면',SEATDATE=SYSDATE ,MEMID=#{memId}
		WHERE
		PCRCODE=#{pcrCode} AND SEATNUM=#{seatNum}
	</update>

	<update id="updateSeat_state_logout">
		UPDATE PCRSEATS
		SET SEATSTATE ='C',SEATUSEPROGRAM=null
		, SEATDATE =SYSDATE,MEMID=null
		WHERE PCRCODE=#{pcrCode} AND
		SEATNUM=#{seatNum}

	</update>
	<update id="update_seat_clean">
		UPDATE PCRSEATS
		SET SEATSTATE ='o'
		WHERE
		PCRCODE=#{pcrCode} AND SEATNUM=#{seatNum}
	</update>
	<update id="update_time">
		UPDATE PCRMEMBERS
		SET STIME=#{sTime}
		WHERE
		PCRCODE=#{pcrCode} AND
		MEMID=#{memId}
	</update>
	<select id="getsTime">
		SELECT STIME
		FROM PCRMEMBERS
		WHERE PCRCODE=#{pcrCode} AND MEMID=#{memId}
	</select>

	<select id="selectloginTime">
		SELECT SEATDATE
		FROM PCRSEATS
		WHERE PCRCODE=#{pcrCode}
		AND SEATNUM=#{seatNum}

	</select>

	<update id="updateMemberInfo">
		UPDATE PCRMEMBERS
		SET MEMPW =#{memPw},MEMNAME=#{memName},MEMEMAIL
		=#{memEmail},MEMAGE =#{memAge},MEMHP=#{memHp}
		<if test="sTime !=null">
			,STIME=#{sTime}
		</if>
		<if test="memo !=null">
			,MEMO=#{memo}
		</if>
		WHERE
		PCRCODE=#{pcrCode} AND MEMID=#{memId}

	</update>

	<select id="getmemberList">
		SELECT *
		FROM PCRMEMBERS
		WHERE PCRCODE=#{pcrCode}
	</select>
	


</mapper>