<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcConSystem.dao.pcrOrderDao">

	<select id="getOrderCode">
		SELECT NVL(MAX(ODCODE),'od000')
		FROM PCRORDERS
		WHERE PCRCODE=#{pcrCode}
	</select>

	<insert id="orderProduct">
		INSERT INTO PCRORDERS
		(PCRCODE,ODCODE,PRCODE,MEMID,SEATNUM,ODCOUNT,REQUEST,ODDATE)
		VALUES(#{pcrCode},#{odCode},#{prCode},#{memId},#{seatNum},#{odCount},#{request},SYSDATE)

	</insert>

</mapper>	