<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcConSystem.dao.pcrProductDao">


	<select id="getprCode">
		SELECT NVL(MAX(PRCODE),'pr000')
		FROM PCRPRODUCT
		WHERE
		PCRCODE=#{pcrCode}
	</select>

	<insert id="registryProduct">
		INSERT INTO PCRPRODUCT
		(PCRCODE,PRCODE,PRNAME,PRIMG,PRPRICE,PRCATEGORY,PRSTATE)
		VALUES
		(#{pcrCode},#{prCode},#{prName},#{prImg},#{prPrice},#{prCategory},#{prState})

	</insert>
	<select id="getProductList_time">
		SELECT *
		FROM PCRPRODUCT
		WHERE PRCATEGORY='time' AND
		PCRCODE=#{pcrCode}
		ORDER BY PRCODE ASC
	</select>
	<select id="getProductList">
		SELECT *
		FROM PCRPRODUCT
		WHERE PCRCODE=#{pcrCode}
		ORDER
		BY PRCODE ASC
	</select>

	<select id="getcategoryList">

		SELECT PRCATEGORY
		FROM PCRPRODUCT
		WHERE
		PCRCODE=#{pcrCode}
		GROUP BY PRCATEGORY
	</select>

	<select id="getCategoryList_type">
		SELECT *
		FROM PCRPRODUCT
		WHERE PCRCODE=#{pcrCode} AND
		PRCATEGORY=#{prCategory}

	</select>

	<delete id="deleteProduct">

		DELETE 	FROM PCRPRODUCT
		WHERE PCRCODE=#{pcrCode} AND PRCODE=#{prCode}
	</delete>




</mapper>